<ion-view title="Login Page">
    <ion-content class="barc">
        <div class="transbox">
            <div class="list list-inset">
                <p class="display" visible="false">{{msg}}</p>
                <label class="item item-input">
                    <input id="username" ng-model="username" type="text" placeholder="Username" />
                </label><br/>
                <label class="item item-input">
                    <input id="password" ng-model="password" type="password" placeholder="Password" />
                </label>
                
            </div>
            <div class="padding-left padding-right">
            <div class="list">
                <div class="button-bar">
                    <button class="button button-positive" ng-click="login(username, password)">Login</button>
                    &nbsp; &nbsp;
                    <button class="button button-positive" ng-click="register()">Register</button>
                    
                    
                </div>
                <br><br>
                
                
            </div>
            
        </div>
        </div>
    </ion-content>
</ion-view> 