<ion-view title="Registration Page">
    <ion-content class="barc">
        <div class="transbox">
            <div class="list list-inset">
                <!--<label class="item item-input">
                    <input ng-model="firstname" type="text" placeholder="First Name" />
                </label>
                <label class="item item-input">
                    <input ng-model="lastname" type="text" placeholder="Last Name" />
                </label>-->
                <label class="item item-input">
                    <input ng-model="firstname" id="firstname" type="text" placeholder="First Name" />
                </label><br/>
                <label class="item item-input">
                    <input ng-model="lastname"  id="lastname" type="text" placeholder="Last Name" />
                </label><br/>
                <label class="item item-input">
                    <input ng-model="mobilenumber" id="mobilenumber" type="text" placeholder="Mobile Number" />
                </label><br/>
               <label class="item item-input">
                    <input ng-model="username" id="username" type="text" placeholder="User Name" />
                </label><br/>               
                <label class="item item-input">
                    <input ng-model="password" id="password" type="password" placeholder="Password" />
                </label><br/>
                
            </div>
            <div class="padding-left padding-right">
            <div class="list">
                <div class="button-bar">
                    
                    <a class="button" ng-click="createUser()">Register</a>
                    
                </div>
                <br><br>
                
                
            </div>
            
        </div>
    </ion-content>
</ion-view>