<ion-view view-title="Dashboard">
  <ion-content class="padding" ng-app="AnalysisController">
   
      <label class="item item-input"  >
  <span class="input-label">Enter Text</span>
  <input type="text" id="textentered">
</label>
      <br>
      
     <label class = "item item-input item-select">
  <span class="input-label">Enter Recipient</span>
           <select ng-model="item" 
         ng-options="item as item for item in reci" value="item" id="recipient" ng-click="getUsers()">
 </select>
           
</label>
      <br>
   
      
     <button class="button button-balanced" ng-click="sendtext()">
  Send Message
</button>
     
      <button class="button button-balanced" ng-click="analyzetext()">
  Analyze
</button>
      <br><br>
      <label id="AnalyzedText"></label>
      
  </ion-content>
</ion-view>
